<section class="not-found">
  <h2>Sala não encontrada</h2>

  <img src="images/no-questions.svg" alt="" />

  <a href="/" class="button">
    <img src="images/enter-room.svg" alt="" /> Voltar
  </a>
</section>
